<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.eoninnovaction.apdd"
        version     = "1.0.4"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->
<feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>	
        <preference name="phonegap-version" value="3.7.0" />
		<platform name="ios">
			<!-- images are determined by width and height. The following are supported -->
			
			    <icon src="icons/Icon-40.png"            gap:platform="ios"        width="57" height="57" />
				<icon src="icons/Icon-72.png"            gap:platform="ios"        width="72" height="72" />
				<icon src="icons/Icon-40@2x.png"         gap:platform="ios"        width="114" height="114" />
				<icon src="icons/Icon-72@2x.png"         gap:platform="ios"        width="144" height="144" />
				
				    <gap:splash src="icons/750_1334.png"    gap:platform="ios"     width="320" height="480" />
					<gap:splash src="icons/750_1334.png" gap:platform="ios"     width="640" height="960" />
					<gap:splash src="icons/2484_4416.png"      gap:platform="ios"     width="768" height="1024" />
					<gap:splash src="icons/2484_4416.png"     gap:platform="ios"     width="1024" height="768" />
			
	
		</platform>

        <name>Amigo PDD</name>

        <description>
        Aplicación para la Prevención del Delito 
        </description>

        <author href="http://eonproduccion.net" email="e.martinez@eoninnovaction.com">
        Ernesto Martínez Cardoso Bonilla de Mauleon
        </author>

    </widget>